@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes hearts {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 175px 175px;
  }
}

/* @keyframes floating {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-5px) scale(1.02);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
} */

.animate-hearts {
  background-image: url('/hearts-pattern.png');
  background-size: 175px;
  animation: hearts 5s linear infinite;
  /* animation: hearts 5s linear infinite, floating 3s ease-in-out infinite; */
}

@keyframes rain {
  0% {
    background-position: 0 0;
    background-position: 0 -500px;
  } /* Départ hors de l’écran */
  100% {
    background-position: 0 50px;
    background-position: 0 0;
  } /* Arrivée en position normale */
}

/* @keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shaking-effect {
  animation: shaking 2s ease-in-out infinite;
} */

.animate-rain {
  /* background-image: url('/rain_pattern.png'); */
  background-image: url('/rain-pattern.png');
  background-size: 300px;
  /* background-size: 150px; */
  animation: rain 3s linear infinite;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-bounce {
  animation: fadeInBounce 0.5s ease-out;
}

@keyframes sad-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.animate-sad {
  animation: sad-animation 1s ease-in-out;
}

/* @keyframes fallingHearts {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.falling-hearts {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: fallingHearts 5s infinite;
  font-size: 3rem;
}

.falling-hearts span {
  position: absolute;
  top: 0;
  animation: fallingHearts 5s infinite ease-in-out;
} */

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.emoji-fall {
  font-size: 2rem;
  animation: fall linear infinite;
}
